@import "../../styles/global.scss";

.tasks-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 50px 60px;

    .completed-tasks {
        background-color: $white;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 28px;
            margin-bottom: 10px;

        }
    }
    
    .last-tasks {
        background-color: $white;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

}