@import "../../styles/global.scss";

.custom-input-container {
   padding: 20px;

    .custom-input {
        background-color: $white-blue;
        padding: 15px 30px;
        border: 0px;
        border-radius: 5px;
    }

    ::placeholder {
        color: $dark-blue;
        font-size: 14px;
        text-align: start;
    }
}